  <nav class="nav container">
    {{! The code below dynamically generates a sidebar nav of posts tagged as static pages. }}
    {{#foreach navigation}}
      <a class="nav-item sidebar-nav-{{slug}} {{#if current}}active{{/if}}" href="{{url absolute="true"}}" target="_blank">
        <i class="nav-icon icon-{{slug}}"></i>
      </a>
    {{/foreach}}
  </nav>