@font-face {
  font-family: 'oscar-icons';
  src:  url('fonts/oscar-icons.eot?fs397p');
  src:  url('fonts/oscar-icons.eot?fs397p#iefix') format('embedded-opentype'),
    url('fonts/oscar-icons.ttf?fs397p') format('truetype'),
    url('fonts/oscar-icons.woff?fs397p') format('woff'),
    url('fonts/oscar-icons.svg?fs397p#oscar-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'oscar-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snapchat:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file:before {
  content: "\e926";
}
.icon-tag:before {
  content: "\e935";
}
.icon-location:before {
  content: "\e947";
}
.icon-map:before {
  content: "\e94c";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-quotes:before {
  content: "\e978";
}
.icon-setting:before {
  content: "\e994";
}
.icon-bug:before {
  content: "\e999";
}
.icon-web:before {
  content: "\e9ca";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-star:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-apple:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-paypal:before {
  content: "\ead8";
}

